<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sk.matus.ksp.guitarist_swiss_knife">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/launcher_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MetronomeActivity" />
        <activity android:name=".TunerActivity" />
        <activity android:name=".ChordActivity" />
        <activity android:name=".SongManagementActivity" />
        <activity android:name=".SongViewActivity" />
        <activity android:name=".SongEditorActivity" />
        <activity android:name=".ScrapeUGActivity"></activity>
    </application>

</manifest>